<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {{>header}}
        <h1>{{ title }}</h1>
        <p>{{ name  }}</p>
        {{>footer}}
    </body>
    <script src='../../public/public.js'> </script>
</html>